<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heydon.ezheli.dao.StudentDao">

    <select id="findUserByStuIdAndPassword" resultType="hashmap">
        select stu_id, college_id, name from tbl_student where stu_id=#{stuId} and password=#{password}
    </select>

    <select id="findOpenAwardByStuIdAndCollegeId1" resultType="OpenAwards">
        select a.*,
               if(a.awardId in (
                   select b.award_id
                   from tbl_stu_award as b
                   where b.stu_id = #{stuId}
               ), 1, 0) as isApplied
        from view_open_awards as a
        where a.awardStateId = 2
    </select>

    <select id="findOpenAwardByStuIdAndCollegeId" resultType="OpenAwards">
        select a.award_id            as awardId,
               a.award_total_name    as awardName,
               a.introduce           as introduce,
               a.limit_number        as limitNum,
               c.award_big_type_name as type,
               a.teac_name           as teacName,
               b.award_state_name    as awardStateName,
               b.award_state_id      as awardStateId,
               if(a.award_id in (
                       select b.award_id
                       from tbl_stu_award as b
                       where b.stu_id = #{stuId}
                   ), 1, 0) as isApplied
        from (tbl_award as a
            left join
            tbl_award_big_type as c
            on
                a.award_big_type_id = c.award_big_type_id)
                 left join
             tbl_award_state as b
             on a.award_state_id = b.award_state_id
        where a.award_state_id = 2
    </select>
    
    <insert id="addApplyAward">
        insert into
            tbl_stu_award(stu_id, stu_name, award_id, award_total_name, reason, apply_time)
        values (#{stuId}, #{realName}, #{awardId}, #{awardName}, #{reason}, #{applyTime})
    </insert>

    <select id="findApplyingAwardsByStuId" resultType="ApplyingAwards">
        select a.stu_id as stuId,
               a.stu_name as stuName,
               a.award_total_name as awardName,
               a.apply_time as applyTime,
               a.teac_name as teacTime,
               a.reason as reason,
               b.check_result_name as checkResult,
               a.check_time as checkTime
        from tbl_stu_award as a
        left join check_result as b
        on a.check_result_id = b.check_result_id
        where a.stu_id = #{stuId}
        order by a.apply_time desc
    </select>

</mapper>