<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heydon.ezheli.dao.TeacherDao">

    <select id="findTeacByTeacIdAndPassword" resultType="hashmap">
        select teac_id, college_id, name from tbl_teacher where teac_id = #{teacId} and password = #{password}
    </select>

    <select id="findAwardByTeacId" resultType="Award">
        SELECT a.award_id,
               b.award_big_type_name as awardType,
               a.award_total_name as awardName,
               a.start_time as startTime,
               a.end_time,
               a.introduce,
               a.limit_number as limitNum,
               c.award_state_name as awardState
        FROM tbl_award as a,
             tbl_award_big_type as b,
             tbl_award_state as c
        where a.award_big_type_id = b.award_big_type_id
          and a.award_state_id = c.award_state_id
          and a.teac_id = #{teacId}
        order by a.start_time desc
    </select>

    <select id="getMaxAwardId" resultType="int">
        SELECT award_id
        FROM tbl_award
        ORDER by award_id desc
        limit 1
    </select>

    <insert id="addNewAward">
        insert into
            tbl_award(award_id, award_big_type_id, award_small_type_id, college_id, award_total_name, start_time, introduce, limit_number, teac_id, teac_name, award_state_id)
        values (#{awardId}, #{bigType}, #{smallType}, #{collegeId}, #{awardName}, #{createTime}, #{introduce}, #{limitNum}, #{teacId}, #{realName}, #{stateId})
    </insert>

    <update id="changeAwardState">
        update
            tbl_award
        set award_state_id = #{stateId}
        where award_id = #{awardId}
    </update>

    <delete id="deleteAward">
        delete from tbl_award where award_id = #{awardId};
    </delete>

    <delete id="deleteStuAward">
        delete from tbl_stu_award where award_id = #{awardId};
    </delete>

    <select id="findTeachers" resultType="AllTeacs">
        select
            teac_id as teacId,
            concat(name, '(', teac_id, ')') as nameId
        from tbl_teacher;
    </select>

    <select id="findCheckTeacsByAwardId" resultType="AllTeacs">
        select
            teac_id as teacId,
            concat(name, '(', teac_id, ')') as nameId
        from tbl_teac_award
        where award_id = #{awardId};
    </select>

    <select id="findNameByTeacId" resultType="java.lang.String">
        select
            name
        from tbl_teacher
        where teac_id = #{teacId};
    </select>

    <insert id="addCheckTeac">
        insert into tbl_teac_award(teac_id, name, award_id)
        values (#{teacId}, #{teacName}, #{awardId});
    </insert>

    <delete id="deleteCheckTeac">
        delete from tbl_teac_award where teac_id = #{teacId} and award_id = #{awardId}
    </delete>

    <select id="findAwardNameByBigType" resultType="Award">
        SELECT
            a.award_id as awardId,
            b.award_total_name as awardName
        from
            tbl_teac_award as a,
            tbl_award as b
        where a.teac_id = #{teacId}
        and a.award_id = b.award_id
        and b.award_big_type_id = #{bigTypeId}
        and (b.award_state_id = 2
        or b.award_state_id = 3);
    </select>

    <select id="getNotCheckApplies" resultType="Apply">
        SELECT a.stu_id as stuId,
               a.stu_award_id as stuAwardId,
               a.stu_name as stuName,
               a.award_total_name as awardName,
               a.reason as reason,
               c.college_name as college,
               d.class_name as clazz,
               a.check_result_id as checkResult
        FROM tbl_stu_award as a,
             tbl_student as b,
             tbl_college as c,
             tbl_class as d
        where a.stu_id = b.stu_id
        and b.college_id = c.college_id
        and b.class_id = d.class_id
        and a.check_result_id is null
        and a.award_id = #{awardId};
    </select>

    <select id="getCheckedApplies" resultType="Apply">
        SELECT a.stu_id as stuId,
               a.stu_award_id as stuAwardId,
               a.stu_name as stuName,
               a.award_total_name as awardName,
               a.reason as reason,
               c.college_name as college,
               d.class_name as clazz,
               a.check_result_id as checkResult
        FROM tbl_stu_award as a,
             tbl_student as b,
             tbl_college as c,
             tbl_class as d
        where a.stu_id = b.stu_id
        and b.college_id = c.college_id
        and b.class_id = d.class_id
        and a.check_result_id is not null
        and a.award_id = #{awardId};
    </select>

    <update id="updateCheck">
        update
            tbl_stu_award
        set check_result_id = #{checkResult},
            teac_id = #{teacId},
            teac_name = #{teacName},
            check_time = #{checkTime}
        where stu_award_id = #{stuAwardId}
    </update>

    <select id="getWinStudents" resultType="WinStudent">
        select a.stu_id as stuId,
               b.name as stuName,
               c.college_name as college,
               d.class_name as clazz
        from tbl_stu_award as a,
             tbl_student as b,
             tbl_college as c,
             tbl_class as d
        where a.stu_id = b.stu_id
        and b.college_id = c.college_id
        and b.class_id = d.class_id
        and a.check_result_id = 1
        and a.award_id = #{awardId};
    </select>

    <select id="getWinStuNum" resultType="Statistics">
        select count(b.stu_id) as value,
               c.class_name as name
        from tbl_student as a
        right join
            (select * from tbl_stu_award where award_id = #{awardId} and check_result_id = 1) as b
        on a.stu_id = b.stu_id
        left join tbl_class c on a.class_id = c.class_id
        group by c.class_name;
    </select>

    <select id="getAwardNameByAwardId" resultType="java.lang.String">
        select award_total_name
        from tbl_award
        where award_id = #{awardId};
    </select>

</mapper>